
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

html, body {
    padding:0;
    margin:0;
    font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}


.wrapper {
    max-width: 1260px;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper #myMessage {
    max-width: 1120px;
    font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.3em;
    color: #848484;
    text-align: center;
    perspective: 200;
    margin: inherit;

}

.wrapper #myMessage p {
    visibility: hidden;
    font-size: 26px;
}

.wrapper #myMessage span {
	position: relative;
	display: inline-block;
	white-space: pre;
	-webkit-font-smoothing:antialiased;
}

#myLinks {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.btn {
    margin: 10px;
    text-align: center;
    visibility: hidden;
    
}

.btn a {
    padding: 10px;
    border: solid 2px red;
    text-decoration: none;
    text-transform: uppercase;
    color: red;
    transition: all .3s ease-out;
}

.btn a:hover {
    color: greenyellow;
    box-shadow: 2px 2px 6px red;

}

.btn i { 
    margin-right: 5px;
    }

.latestProj {
    margin: 70px 0px 0px 0px;
    padding:0;
    width:30%;
    height: 85px;
    background: rgba(238,0,0,.4);
    display: table;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
}

.latestProj h2 {
    display: table-cell; 
    vertical-align: middle;
    width: 100%;
}

.latestProj {
    visibility: hidden;
}

/* ------SLIDER------- */

#mySlider {
    margin: 70px auto;
    display: block;
    max-width: 1080px;
    height: auto;
}

#mySlider .item {
    text-align: center;
    padding: 10px;
    }

#mySlider .item img {
    width: 100%;
}

#mySlider .item a {
    text-decoration: none;
}

/* -------FOOTER------- */

#footer {
    min-width: 100%;
    background: #848484;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#footer li {
    list-style: none;
    display: inline-block;
    font-size: 1.2em;
}

#footer li:nth-child(2), li:nth-child(3), li:nth-child(4) {
    padding-left: 10px;
}

#footer ul li a {
    color:red;
}

#footer ul li a:hover {
    color: greenyellow;
    
}

@media screen and (max-width: 800px) {

    .wrapper {
        margin-top: 40px;
        }
    .wrapper #myMessage {
        font-size: 1.2em;
    }

    .wrapper #myMessage {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    .wrapper {
        margin-top: 40px;
        max-width: 800px;
        }
    .wrapper #myMessage {
        font-size: 1.5em;
    }

    .wrapper #myMessage {
        padding-left: 10px;
        padding-right: 10px;
    }
}
